<pre>
<p>line qrcode</p>
  <img class="img-thumbnail" align="left"
    src="/upload/lineqrcode.png">
    <br>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>image</th>
        <th>description</th>
        <th>          #</th>
      </tr>
    </thead>
    <tbody>
      {{#each lines}}
      <tr>
        <td>{{this.usersn}}</td>
        <td>{{this.name}}</td>
        <td>{{this.image}}</td>
        <td>{{this.description}}</td> 
        <td><form action="/admin/lines/{{this.id}}?_method=DELETE" method="POST" style="display: inline; ">
          <a href="#" onclick="this.parentNode.submit()">delete</a>
        </form></td>    
      </tr>
      {{/each}}
    </tbody>
  </table>
</pre>